* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
}

.background {
  background-color: #f4f3f9;
  width: 100%;
  height: 100vh;
}

.header {
  background-color: #216eee;
  height: 30vh;
}

.card-confirm {
  background-color: #fff;
  width: 50%;
  height: 70vh;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 6rem;
}

.card-confirm h1 {
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
}

.card-confirm p {
  padding: 20px 25px;
  text-align: left;
}

.card-confirm span {
  padding: 25px;
}

.btn {
  border-radius: 0;
  padding: 10px;
}

@media (max-width: 1024px) {
  .card-confirm {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .card-confirm {
    width: 80%;
    height: 50vh;
  }
}

@media (max-width: 678px) {
  .card-confirm {
    width: 90%;
    height: 60vh;
    top: 4rem;
  }

  .card-confirm h1 {
    padding-bottom: 0;
    font-size: 30px;
  }

  .card-confirm p {
    padding-bottom: 0;
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  .card-confirm {
    width: 90%;
    height: 60vh;
  }

  .card-confirm h1 {
    padding-bottom: 0;
    font-size: 30px;
  }

  .card-confirm p {
    padding-bottom: 0;
    font-size: 15px;
  }
}
